@model BlogModel

<div class="container">
	<h1 class="text-center my-3">Edit Blog</h1>

	<div>
		<label class="form-label">Title</label>
		<input class="form-control blog_title" value="@Model.blog_title" />
		<label class="form-label">Author</label>
		<input class="form-control blog_author" value="@Model.blog_author" />
		<label class="form-label">Content</label>
		<input class="form-control blog_content" value="@Model.blog_content" />
		<button type="submit" class="btn btn-outline-success mt-3 save-btn">Save Changes</button>
	</div>
</div>

@section scripts
{
	<script>
		$(document).ready(() => {
			$('.save-btn').click(() => {
				let blog = {
					blog_id: 
					blog_title: $('.blog_title').val(),
					blog_author: $('.blog_author').val(),
					blog_content: $('.blog_content').val()
				};
				console.log(blog);
				$.ajax({
					url: '/BlogAjax/Save',
					type: 'Post',
					data: blog,
					success: function(response){
						Swal.fire({
							icon: "success",
							title: response,
						});
						$('.blog_title').val('');
						$('.blog_author').val('');
						$('.blog_content').val('');
					},
					error: function(ex) {
							Swal.fire({
								  icon: "error",
								  title: "Fail to Add!",
							 });
					}
				});
			});
		});
	</script>
}